BasedOnStyle: WebKit
AccessModifierOffset: '-4'
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: 'true'
BreakBeforeBraces: Allman
ColumnLimit: '0'
Cpp11BracedListStyle: 'true'
PointerAlignment: Right
BreakConstructorInitializers: 'AfterColon'
UseTab: 'Never'
AlignAfterOpenBracket: 'AlwaysBreak'
AllowShortBlocksOnASingleLine: 'true'
