name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: boost
      run: apt-get update && apt-get install -yq libboost-all-dev
    - name: mkdir
      run: mkdir build
    - name: cmake
      run: cmake -Bbuild -H.
    - name: make
      run: make 
    
